#content
	%h1 Events
	%p Click here to join S. D. O’Donnell’s mailing list and get the latest news.
	%p January 2013: Deadly Memories is available in paperback and Kindle e-book.

#sidebar
	%h1 Industry News
