<div id="magazine" class="mailing-list-modal" style="display: none;">
	<div><img src="/assets/book/cover.jpg" class="jPageFlip"></div>
	<div><img src="/assets/book/1_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/2_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/3_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/4_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/5_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/6_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/7_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/8_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/9_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/10_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/11_pdfsam_deadly-final.png" class="jPageFlip"></div>
	<div><img src="/assets/book/12_pdfsam_deadly-final.png" class="jPageFlip"></div>
</div>

<%=  link_to_modal "#magazine", :class=>"read_book" do %>
	<div class="button">Free Preview</div>
<% end %>

<script type="text/javascript">

$('#magazine').turn({gradients: true, acceleration: true});
$(document).ready( function() {
	$('.read_book').click(function() {
		function exterminate_close_button() {
			$('.close-modal').css('display','none')
			$('#magazine').css('width','866px')
		}
		setTimeout(exterminate_close_button,100)
	})
})
</script>
