#content
	- if notice
		%p.notice= notice
	- if alert
		%p.error= alert
	%h1 Deadly Bayou
	%p Check back later in the year for a preview of Saul and Jayne’s next adventure, <i>Deadly Bayou.</i>

= render "partials/dbside_add"
