#content
	- if notice
		%p.notice= notice
	- if alert
		%p.error= alert
	%h1 Deadly Memories
	%p <i>Who is the beautiful Jayne Doe? And why does someone want to kill her?</i>
	%p Ex-detective Saul Becker learned the hard way not to get involved in the troubles of beautiful women. But what else can he do when a barefoot, catatonic Jayne Doe turns up practically in his backyard? Who is she, and what is she so afraid of?
	%p <i>Jayne Doe doesn’t remember anything about her life before she crawled into a hollow tree at the lake next to Saul’s home. All she knows is that she’s afraid of something—or someone.</i>
	%p Together, Saul and Jayne set out to uncover her past. But they are in more danger than they know, and it will take all of Saul’s skill and training to track down the past that’s stalking them.

	= render partial: 'partials/book'

= render "partials/dbside_add"
