#container
	#content
		%h1 Resources
		%p Taking on the task of starting an imprint company and publishing my own work has been challenging, exciting, and a lot of work. If you’re considering going down that same path, I can’t overemphasize the need to have experienced professionals holding your hand during the process, both to make sure you’re doing everything right and to encourage you along the way. I solicited the help of the team at The Editorial Department to assist me. They aren’t the only ones that can fulfill this role, but I don’t think anyone can do it better.
		%p Check them out:
		%p= link_to "http://www.editorialdepartment.com/", "http://www.editorialdepartment.com/"
